<a href="https://colab.research.google.com/github/Rohan5076/practice-code/blob/main/10prgramspython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=15
for i in range (n,0,-1):
  print(* ' ' +i * ' * ')

    *     *     *     *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *
    *     *     *     *     *     *
    *     *     *     *     *
    *     *     *     *
    *     *     *
    *     *
    *

In [1]:
n=15
for i in range (n,0,-1):
  print((n-1)* ' ' +i * ' * ')

SyntaxError: ignored

In [ ]:
n=5
for i in range (n,0,-1):
  print((n-1)*' ' +i* ' * ')

     *  *  *  *  *
     *  *  *  *
     *  *  *
     *  *
     *

In [ ]:
s= "malayalam"
if s==s[::-1]:
  print("yes")
else:
  print("no")

yes

In [ ]:
def removeduplicates(str):
  s=set(str)
  s="".join(s)
  print("without order:",s)
  t=""
  for i in str:
    if (i in t):
      pass
    else:
      t=t+i
  print("the order:",t)
str="python is easy language"
removeduplicates(str)

without order:  ygoahisptelun
the order: python isealgu

In [ ]:
#remove duplicates using regax
import re
def removeduplicatewords(input):
  regex=r'\b(\w+)(?:\W+\1\b)+'
  return re.sub(regex,r'\1',input,flags=re.IGNORECASE)
str1="good bye bye world world"
print(removeduplicatewords(str1))

good bye world

In [ ]:
#function
def prime(x,y):
  prime_list=[]
  for i in range(x,y):
    if i==0 or i==1:
      continue
    else:
      for j in range (2,int(i/2)+1):
         if i%j==0:
           break
         else:
           prime_list.append(i)
  return prime_list
#driver program
starting_range =2
ending_range =7
lst= prime(starting_range,ending_range)
if len(lst)==0:
  print("no prime numberes")
else:
  print("the prime no  are",lst)

the prime no  are [5]

In [ ]:
def fib(n):
  if n<0:
    print("incorrect input")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
print(fib(10))

34

In [ ]:
#cube of first n numbers
def cubes(n):
  x=0
  for i in range (1,n+1):
    x+=i*i*i
  return x
n = 5
print(cubes(n))

225

In [ ]:
#2nd largest number
list1=[10,20,30,4,45,45,99,99,40]
list2=list(set(list1))
list2.sort()
print("second largest no:" ,list2[-2])

second largest no: 45

In [ ]:
#monotonic
def ismonotonic(A):
  return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
A=[6,5,4,4]
print(ismonotonic(A))

True

In [ ]:
#ISMONOTONIC 
def ismonotonic(A):
  return (all(A[i]<=A[i+1] for i in range (len(A)-1)) or all(A[i]>=A[i+1] for i in range (len(A)-1)))
A=[6,5,4,6]
print(ismonotonic(A))

False

In [ ]:
def ismonotonic1(A):
  return (all(A[i]<=A[i+1] for i in range (len(A)-1)) 
  or
   all(A[i]>=A[i+1] for i in range(len(A)-1)))
A=[11,10,9,8]
print(ismonotonic1(A))

True

In [ ]:
#program for second largest no
list1=[10,20,30,40,5,45,99,98,99]
list2=list(set(list1))
list2.sort()
print("second largest no: ",list2[-2])

second largest no:  98

In [ ]:
list1=[2,5,4,6,7,9,9]
list2=list(set(list1))
list2.sort()
print("second largest no: ",list2[-2])

second largest no:  7

In [ ]:
def fib(n):
  if n<0:
    print("incorrect input")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1) +fib(n-2)
print(fib(10))

34

In [ ]:
def fib(n):
  if n<0:
    print('incorect input')
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
print(fib(9))

21

In [ ]:
n=int(input("enter no"))
if n<0:
  print("incorrect input")
elif n==1:
  print("0")
elif n==2:
  print("1")
else:

In [ ]:
# cube of first n numbers
def cubes1(n):
  x=0
  for i in range (1,n+1):
    x+=i*i*i
  return x
n=10
print(cubes1(n))

3025

In [ ]:
# cube of first n numbers
def cubes2(n):
  x=0
  for i in range(1,n+1):
    x=i*i*i
  return x
n=6
print(cubes2(n))

216

In [ ]:
n1=int(input("enter no : "))
for i in range (1,n1+1):
  n1=i*i*i
print(n1)

enter no : 6
216

In [ ]:
s=input("enter word: ")
if s==s[::-1]:
  print("yes")
else:
  print("no")

enter word: rotor
yes

In [ ]:
s= input("enter word")
if s==s[::-1]:
  print("yes")
else:
  print("no")

enter wordmotor
no

In [ ]:
def removeduplicates(str):
  s=set(str)
  s=" ".join(s)
  print("without order: ",s)
  t=" "
  for i in str:
    if (i in t):
      pass
    else:
      t=t+i
  print("with order: ",t)
str="python is easy language"
removeduplicates(str)

without order:    l g u a t n p y h e i s o
with order:   pythonisealgu

In [ ]:
s1=input("enter string")
s1=set(s1)
s1=" ".join(s1)
print("sting without duplicates :",s1)

enter stringasdfgsdfadfa
sting without duplicates : g a f d s

In [ ]:
s1= input("enter string")
s1=set(s1)
s1="".join(s1)
print("string",s1)

enter stringadfghjkllkjhggffdashjkl;
string lgakhf;dsj

In [ ]:
#pallindrome
s1=input("enter the string : ")
s1=set(s1)
s1=" ".join(s1)
print("string without duplicates: ",s1)

enter the string : xcvbvcxxcvbx
string without duplicates:  c b x v

In [ ]:
#pallindrome
s1= input("enter word")
if s1 == s1[::-1]:
  print("string is pallindrome")
else:
  print("string is not pallindrome")

enter wordrotor
string is pallindrome

In [ ]:
#cubes
n1=int(input("enter the number : "))
for i in range(1,n1+1):
  n1=i*i*i
print("the cube is :",n1)

enter the number : 6
the cube is : 216

In [ ]:
#fibonacci
def fib(n):
  if n==0:
    print("incorrect input")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1) + fib(n-2)
fib(9)

21

In [ ]:
#second largest number
list1=[5,6,7,9,10]
list2=list(set(list1))
list2.sort()
print("second lagest number",list2[-2])

second lagest number 9

In [ ]:
n=15
for i in range (0,n,1):
  print(* ' ' +i * ' * ')

    *
    *     *
    *     *     *
    *     *     *     *
    *     *     *     *     *
    *     *     *     *     *     *
    *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *     *