<a href="https://colab.research.google.com/github/Rohan5076/practice-code/blob/main/codes_asked_in_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names=["rohan","saurabh","sandeep","satish"]
list1=[1,6,5,7]

a=zip(names,list1)

for i in a:
  print(i)

('rohan', 1)
('saurabh', 6)
('sandeep', 5)
('satish', 7)

In [ ]:
s1 = "HUL will announce its earnings for the quarter ended September."
s2 = "Hindustan Uniliver Limited to announce its quarterly ending September."

In [ ]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]
z = zip(name, animal, age)
a=[]
for i in z:
  a.append(i)

In [ ]:
a=set(a)
a

{('Bubbles', 'Fish', 2),
 ('Chewy', 'Dog', 2),
 ('Gruff', 'Goat', 6),
 ('Snowball', 'Cat', 1)}

In [ ]:
p=2
q=3
print(p>=q==p)

False

In [ ]:

list1 = [2,3,1,4]
p = list1*2
print(p)

[2, 3, 1, 4, 2, 3, 1, 4]

In [ ]:
list1=[1,1,2,1,3,1,5,8,4]
for i in range(len(list1)):
  for j in range(len(list1)):
    if (i==j):
      break
    else:
print(list1)

[1, 1, 2, 1, 3, 1, 5, 8, 4]

In [ ]:

from collections import Counter
# Python 3 code to demonstrate
# removing duplicated from list
# using Counter() method
 
# initializing list
arr = [1, 5, 3, 6, 3, 5, 6, 1]
print ('The original list is : '+ str(arr))
 
# using Counter() + keys()
# to remove duplicated
# from list


 
# printing list after removal
# of duplicate
print('The list after removing duplicates :'
        ,[*Counter(arr)])

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 5, 3, 6]

In [3]:
from collections import Counter
arr = [1, 5, 3, 6, 3, 5, 6, 1]
print([*Counter(arr)])

[1, 5, 3, 6]

In [ ]:
import re
str1="my names is   ashish my nickname is   jack"

print("text withoout spaces :",re.sub(' +',' ',str1))

text withoout spaces : my names is ashish my nickname is jack

In [ ]:
str_list=str1.split()
unique_words = set(str_list)

for words in unique_words:
  print("freq of :",words,"is :",str_list.count(words))

freq of  jack is : 1
freq of  my is : 2
freq of  names is : 1
freq of  ashish is : 1
freq of  is is : 2
freq of  nickname is : 1

In [ ]:
import pandas as pd
list1=[2,4,5,6,8,45,4,5,5,1]
windows_size=3

number_series=pd.Series(list1)

windows=number_series.expanding()

moving_average=windows.mean()

moving_average_list=moving_average.tolist()
final_list = moving_average_list[windows_size - 1:]
print(final_list)

[3.6666666666666665, 4.25, 5.0, 11.666666666666666, 10.571428571428571, 9.875, 9.333333333333334, 8.5]

In [ ]:

# Python program to calculate
# simple moving averages using pandas
import pandas as pd
  
arr = [1, 2, 3, 7, 9]
window_size = 3
  
# Convert array of integers to pandas series
numbers_series = pd.Series(arr)
  
# Get the window of series
# of observations of specified window size
windows = numbers_series.rolling(window_size)
  
# Create a series of moving
# averages of each window
moving_averages = windows.mean()
  
# Convert pandas series back to list
moving_averages_list = moving_averages.tolist()
  
# Remove null entries from the list
final_list = moving_averages_list[window_size - 1:]
  
print(final_list)