<a href="https://colab.research.google.com/github/Rohan5076/practice-code/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import math

In [3]:
# for prime no
a= int(input("enter no"))
for i in range(2,int(a/2)):
  if (a % i== 0):
    print("number is not prime no")
else :
  print("no is prime")

enter no53
no is prime

In [37]:
def primeno(n):
  a=[]
  for i in range(2,int(n)):
    for j in range (i-1):
      if i%j == 0:
        print("no is not prime no" )
        break
      else:
        a.append(i)
        return a

n= (input("enter the no :"))
b=primeno(n)
print(b)

enter the no :13
no is not prime no
[5]

In [29]:
array=[1,4,2,-2,-9,10,2,12,2,-4,-4,-4,-4,2,6,7] # array of N integers, indexed 0 to N-1;
# assume it’s populated with [1,4,2,-2,-9,10,2,12,2,-4,-4,-4,-4,2,6,7]
peak = array[0]
index = 0
N = len(array)
output = [] # array of tuples
for i in range(1,N-1):
    
    if (array[i]* array[i-1] > 0):
        
        if (peak < 0) and (array[i] < peak):
            
            peak = array[i]
            index = i
        if (peak >= 0) and (array[i] > peak):
            peak = array[i]
            index = i

    else:
        output.insert(index,peak) 
        peak = array[i]
        index = i

print(output)

[4, -9, 12, -4]

In [ ]:
n = int(input())
n_sqr = n*n
print(n_sqr)

6
36

In [ ]:
# A number is even if division by 2 give a remainder of 0.
# If remainder is 1, it is odd number.
num = int(input("Enter a number: "))
if (num % 2) == 0:
 print("{0} is Even".format(num))
else:
 print("{0} is Odd".format(num))

Enter a number: 56
56 is Even

In [ ]:
arr = [ 1, 2, 3, 4, 5, 6, 7, 8]
n = len(arr)
prod = 1
for i in range(0,n) :
 prod = prod* arr[i]
 gm = math.pow(prod, (1/n))
print(gm)

3.764350599503129

In [ ]:
# To take input from the user
x = input('Enter value of x: ')
y = input('Enter value of y: ')
#x = 5
#y = 10
# create a temporary variable and swap the values
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x:
Enter value of y: 5
The value of x after swapping: 5
The value of y after swapping:

In [ ]:
# Change this value for a different result
terms = 10
# Uncomment to take number of terms from user
#terms = int(input("How many terms? "))
# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))
# display the result
print("The total terms is:",terms)
for i in range(terms):
  print("2 raised to power",i,"is",result[i])

The total terms is: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [ ]:
def print_factors(x):
# This function takes a number and prints the factors
 print("The factors of",x,"are:")
 for i in range(1, x + 1):
  if x % i == 0:
   print(i)
# change this value for a different result.
num = 320
# uncomment the following line to take input from the user
#num = int(input("Enter a number: "))
print_factors(num)

The factors of 320 are:
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [ ]:
45sentence = "I love programming in Python. How about you?"
''.join(sentence[-i] for i in range(1, len(sentence)+1))

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

In [ ]:
import pandas as pd
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)


df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)


df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],

)

print(df1)
print(df2)
print(df3)

frames = [df1, df2, df3]

result = pd.concat(frames)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)


result = pd.concat([df1, df4], axis=1)
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [ ]:
pip install ultralytics

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ultralytics in /usr/local/lib/python3.8/dist-packages (8.0.5)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (1.21.6)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (2.25.1)
Requirement already satisfied: tqdm>=4.64.0 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (4.64.1)
Requirement already satisfied: hydra-core>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (1.3.1)
Requirement already satisfied: seaborn>=0.11.0 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (0.11.2)
Requirement already satisfied: thop>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (0.1.1.post2209072238)
Requirement already satisfied: GitPython>=3.1.24 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (3.1.30)
Requirement already satisfied: matplotlib>=3.2.2 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (3.2.2)
Requirement already satisfied: opencv-python>=4.1.1 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (4.6.0.66)
Requirement already satisfied: Pillow>=7.1.2 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (7.1.2)
Requirement already satisfied: torch>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (1.13.0+cu116)
Requirement already satisfied: psutil in /usr/local/lib/python3.8/dist-packages (from ultralytics) (5.4.8)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from ultralytics) (7.9.0)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (1.3.5)
Requirement already satisfied: PyYAML>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (6.0)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (1.7.3)
Requirement already satisfied: torchvision>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (0.14.0+cu116)
Requirement already satisfied: tensorboard>=2.4.1 in /usr/local/lib/python3.8/dist-packages (from ultralytics) (2.9.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from GitPython>=3.1.24->ultralytics) (4.0.10)
Requirement already satisfied: omegaconf<2.4,>=2.2 in /usr/local/lib/python3.8/dist-packages (from hydra-core>=1.2.0->ultralytics) (2.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from hydra-core>=1.2.0->ultralytics) (21.3)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.8/dist-packages (from hydra-core>=1.2.0->ultralytics) (5.10.2)
Requirement already satisfied: antlr4-python3-runtime==4.9.* in /usr/local/lib/python3.8/dist-packages (from hydra-core>=1.2.0->ultralytics) (4.9.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.2->ultralytics) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.2->ultralytics) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.2->ultralytics) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.2->ultralytics) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.1.4->ultralytics) (2022.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.23.0->ultralytics) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.23.0->ultralytics) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.23.0->ultralytics) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.23.0->ultralytics) (2022.12.7)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (1.3.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (1.0.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (0.38.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (0.4.6)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (57.4.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (0.6.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (1.51.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (3.19.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard>=2.4.1->ultralytics) (2.15.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch>=1.7.0->ultralytics) (4.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (5.7.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (2.6.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (2.0.10)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (0.18.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->ultralytics) (4.4.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.8/dist-packages (from gitdb<5,>=4.0.1->GitPython>=3.1.24->ultralytics) (5.0.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.1->ultralytics) (1.15.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.1->ultralytics) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.1->ultralytics) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.1->ultralytics) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.4.1->ultralytics) (1.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->ultralytics) (0.8.3)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard>=2.4.1->ultralytics) (6.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->ultralytics) (0.2.5)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources->hydra-core>=1.2.0->ultralytics) (3.11.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->ultralytics) (0.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard>=2.4.1->ultralytics) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.4.1->ultralytics) (3.2.2)

In [ ]:
! pip install keras

In [ ]:
a=(3,1)
b=(2,)
c=a*b
c.shape

TypeError: ignored

In [ ]:
n=15
for i in range (0,n,1):
  print(* ' ' +i * ' * ')

    *
    *     *
    *     *     *
    *     *     *     *
    *     *     *     *     *
    *     *     *     *     *     *
    *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *     *

In [ ]:
  s='asfgbdfhdh'
  s=set(s)
  s="".join(s)
  print("without order:",s)

without order: sdgafbh

In [ ]:

def two_string_equivalent(word1,word2):
    return "".join(word1) == "".join(word2)

# test case
word1 = ["ab", "c"]
word2 = ["a", "bc"]
two_string_equivalent(word1,word2)

True

In [ ]:
def two_string_equivalent(word1,word2):
    return "".join(word1) == "".join(word2)

# test case
word1 = ["ab", "c"]
word2 = ["a", "bc"]
two_string_equivalent(word1,word2)

True

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1)+fibonacci(n-2)

# test case
fibonacci(n=11)#2

89

In [ ]:
sentence = "I love programming in Python. How about you?"
sen2=sentence[::-1]
sen2

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

Question 1
Level 1

Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

Solution:

In [ ]:
l=[]
for i in range(2000,3201):
  if(i%7==0) and (i%5!=0):
    l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question 2
Level 1

Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
def fact(x):
  if x==0:
    return 1
  return x * fact (x-1)

x= int(input())
print(fact(x))

5
120

Question 3
Level 1

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

Solution:

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
  d[i]=i*i

print(d)

4
{1: 1, 2: 4, 3: 9, 4: 16}

Question 4
Level 1

Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

Solution:

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

Question 5
Level 1

Question: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

Solution:

In [ ]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()
    
    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

a,b,a,2,6
A,B,A,2,6

Question 8
Level 2

Question: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

d,de,ft,s,g,r,sg,er,tx,h,t,g
d,de,er,ft,g,g,h,r,s,sg,t,tx

Question 9
Level 2

Question£º Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

a,f,e,s,u,f,d
a,f,h,4,ds,g,u,f

A,F,E,S,U,F,D
A,F,H,4,DS,G,U,F

In [ ]:
lines=[]
s=input()
if s:
    lines.append(s.upper())
     
for senetence  in lines:
  print( senetence)

a,d,f,g
A,D,F,G

Question 10
Level 2

Question: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

Solution:

In [ ]:
s = input()
words = [word for word in s.split(",")]
print(" ".join(sorted(list(set(words)))))

4
4

In [ ]:
import numpy as np
a = np.array([3,1])
b = np.array([2,])
c = a*b
c.shape()

In [ ]:
import numpy as np
a = np.array([3,1])
b = np.array([2,])
c = a*b
c.shape

(2,)

Q1. Python program to check if a string is palindrome or not
Given a string, write a python function to check if it is palindrome or not. A string is said to be palindrome if the reverse of the string is the same as string. For example, “radar” is a palindrome, but “radix” is not a palindrome.

Method #1

Find reverse of string
Check if reverse and original are same or not.

In [ ]:
def ispalendrome(s):
  return(s==s[::-1])

s=input()
ans=ispalendrome
if ans:
  print("yes")
else:
  print("no")

malayalam
yes

Q2.Remove all duplicates from a given string in Python

In [ ]:
def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print("Without Order:",s)
    t=""
    for i in str:
        if(i in t):
            pass
        else:
            t=t+i
    print("With Order:",t)
     
str="Python is easy language"
removeDuplicate(str)

Without Order: ielghuo atysPn
With Order: Python isealgu

all prime numbers in range

In [ ]:
lower =900
upper =1000

for num in range (lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
  else:
    print(num)

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
list1=[42,52,13,74,12,19,27]
for i in range(len(list1)):
  for j in range(i):
    if list1[i]<list1[j]:
      list1[i],list1[j]=list1[j],list1[i]
print(list1)

[12, 13, 19, 27, 42, 52, 74]

In [ ]:
lower = 900
upper = 1000

for num in range(lower,upper+1):
    for i in range(2,int(num/2)+1):
      if num%i==0:
       break
    else:
        print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
lst=[12,1,5,1,6,8,4,6]
for i in range(len(lst)):
  for j in range(i):
    if lst[i]>lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)

[12, 8, 6, 6, 5, 4, 1, 1]

In [ ]:
up=1000
lw=900
for num in range(lw,up+1):
  for i in range(2,int(num/2)+1):
    if(num%i==0):
      break
  else:
    print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
n=5
for i in range (n, 0, -1):
    print( * ' ' + i * '*')

  * * * * *
  * * * *
  * * *
  * *
  *

In [ ]:
for i in range (n,0,-1):
  print(*" ",+i * ' * ')

   *  *  *  *  *
   *  *  *  *
   *  *  *
   *  *
   *

In [ ]:
for i in range(0,n,1):
  print(* " ",+ i * " * ")

   *
   *  *
   *  *  *
   *  *  *  *

In [ ]:
def fib(n):
  if n<0 :
    print('Incorrect Input')
  elif n ==1 :
    return 0
  elif n==2 :
    return 1
  else:
    return fib(n-1)+fib(n-2)
fib(10)

34

In [ ]:
def fib(n):
  if n<0:
    print("incorrect output")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
fib(10)

34

In [ ]:
def ispal(str1):
  lst  = []
  for i in range (len(str1)):
    if str1[i] in lst:
      lst.remove(str1[i])
    else:
      lst.append(str1[i])
  if (len(str1) %2 == 0 and len(lst) == 0) or  (len(str1)%2 == 1 and len(lst) == 1):
    return True
  else:
    return False    

if ispal('asdfgasdf'):
  print('YES')
else:
  print('NO')

YES