<a href="https://colab.research.google.com/github/Rohan5076/practice-code/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sentence = "I love programming in Python. How about you?"
''.join(sentence[-i] for i in range(1, len(sentence)+1))

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

In [1]:
n=15
for i in range (0,n,1):
  print(* ' ' +i * ' * ')

    *
    *     *
    *     *     *
    *     *     *     *
    *     *     *     *     *
    *     *     *     *     *     *
    *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *     *

In [ ]:
  s='asfgbdfhdh'
  s=set(s)
  s="".join(s)
  print("without order:",s)

without order: sdgafbh

In [ ]:

def two_string_equivalent(word1,word2):
    return "".join(word1) == "".join(word2)

# test case
word1 = ["ab", "c"]
word2 = ["a", "bc"]
two_string_equivalent(word1,word2)

True

In [ ]:
def two_string_equivalent(word1,word2):
    return "".join(word1) == "".join(word2)

# test case
word1 = ["ab", "c"]
word2 = ["a", "bc"]
two_string_equivalent(word1,word2)

True

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1)+fibonacci(n-2)

# test case
fibonacci(n=11)#2

89

In [ ]:
sentence = "I love programming in Python. How about you?"
sen2=sentence[::-1]
sen2

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

Question 1
Level 1

Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

Solution:

In [ ]:
l=[]
for i in range(2000,3201):
  if(i%7==0) and (i%5!=0):
    l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question 2
Level 1

Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
def fact(x):
  if x==0:
    return 1
  return x * fact (x-1)

x= int(input())
print(fact(x))

5
120

Question 3
Level 1

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

Solution:

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
  d[i]=i*i

print(d)

4
{1: 1, 2: 4, 3: 9, 4: 16}

Question 4
Level 1

Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

Solution:

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

Question 5
Level 1

Question: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

Solution:

In [ ]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()
    
    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

a,b,a,2,6
A,B,A,2,6

Question 8
Level 2

Question: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

d,de,ft,s,g,r,sg,er,tx,h,t,g
d,de,er,ft,g,g,h,r,s,sg,t,tx

Question 9
Level 2

Question£º Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

a,f,e,s,u,f,d
a,f,h,4,ds,g,u,f

A,F,E,S,U,F,D
A,F,H,4,DS,G,U,F

In [ ]:
lines=[]
s=input()
if s:
    lines.append(s.upper())
     
for senetence  in lines:
  print( senetence)

a,d,f,g
A,D,F,G

Question 10
Level 2

Question: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

Solution:

In [ ]:
s = input()
words = [word for word in s.split(",")]
print(" ".join(sorted(list(set(words)))))

s h k y  5 h 5 h
 5 h k s y

Q1. Python program to check if a string is palindrome or not
Given a string, write a python function to check if it is palindrome or not. A string is said to be palindrome if the reverse of the string is the same as string. For example, “radar” is a palindrome, but “radix” is not a palindrome.

Method #1

Find reverse of string
Check if reverse and original are same or not.

In [ ]:
def ispalendrome(s):
  return(s==s[::-1])

s=input()
ans=ispalendrome
if ans:
  print("yes")
else:
  print("no")

malayalam
yes

Q2.Remove all duplicates from a given string in Python

In [ ]:
def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print("Without Order:",s)
    t=""
    for i in str:
        if(i in t):
            pass
        else:
            t=t+i
    print("With Order:",t)
     
str="Python is easy language"
removeDuplicate(str)

Without Order: ielghuo atysPn
With Order: Python isealgu

all prime numbers in range

In [ ]:
lower =900
upper =1000

for num in range (lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
  else:
    print(num)

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
list1=[42,52,13,74,12,19,27]
for i in range(len(list1)):
  for j in range(i):
    if list1[i]<list1[j]:
      list1[i],list1[j]=list1[j],list1[i]
print(list1)

[12, 13, 19, 27, 42, 52, 74]

In [ ]:
lower = 900
upper = 1000

for num in range(lower,upper+1):
    for i in range(2,int(num/2)+1):
      if num%i==0:
       break
    else:
        print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
lst=[12,1,5,1,6,8,4,6]
for i in range(len(lst)):
  for j in range(i):
    if lst[i]>lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)

[12, 8, 6, 6, 5, 4, 1, 1]

In [ ]:
up=1000
lw=900
for num in range(lw,up+1):
  for i in range(2,int(num/2)+1):
    if(num%i==0):
      break
  else:
    print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
n=5
for i in range (n, 0, -1):
    print( * ' ' + i * '*')

  * * * * *
  * * * *
  * * *
  * *
  *

In [ ]:
for i in range (n,0,-1):
  print(*" ",+i * ' * ')

   *  *  *  *  *
   *  *  *  *
   *  *  *
   *  *
   *

In [ ]:
for i in range(0,n,1):
  print(* " ",+ i * " * ")

   *
   *  *
   *  *  *
   *  *  *  *

In [ ]:
def fib(n):
  if n<0 :
    print('Incorrect Input')
  elif n ==1 :
    return 0
  elif n==2 :
    return 1
  else:
    return fib(n-1)+fib(n-2)
fib(10)

34

In [ ]:
def fib(n):
  if n<0:
    print("incorrect output")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
fib(10)

34